@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600|Source+Serif+Pro:400,600&subset=all');

html {
    font-size: calc(14.44px + (10vw / 9));
}

body {
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-variant-numeric: oldstyle-nums;
    font-weight: 300;
    color: black;
    line-height: 1.5;
    width: 90vw;
    margin: 0 auto;
}

header {
    overflow-x: hidden;
}

#portraits {
    width: 100%;
}

@media only screen and (max-width: 500px) {
    html {
        font-size:20px;
    }
    #portraits {
        width: 137vw;
        margin-left: -47vw;
    }
}
@media only screen and (min-width: 1400px) {
    html {
        font-size:30px;
    }
    body {
        width: 1260px;
    }
}

h1 {
    font-family: 'Source Serif Pro', serif;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(0, 141, 193);
    margin: 1rem 0 0;
}

h2 {
    font-family: 'Source Serif Pro', serif;
    font-size: 1.5rem;
    font-weight: 600;    
    color: rgb(120,120,120);
    margin: 0 0 1rem;
}

h3 {
    font-family: 'Source Serif Pro', serif;
    font-size: 1.5rem;
    text-transform: normal;
    font-weight: 600;
    color: rgb(0, 141, 193);
    margin: 2rem 0 0.5rem;
}

h4 {
    font-weight: 600;
    margin: 1rem 0 0.5rem;
    text-transform: uppercase;
}

h4 > span {
    display:block;
}

h4 > span.time, h4 > span.location {
    color: rgb(120,120,120);
    text-transform: none;
}

a {
    color: rgb(0, 141, 193);
    text-decoration: underline;
}

ul, p {
    margin: 0.5rem 0;
}

ul {
    list-style-type: square;
}

a:hover,
a:focus {
    color: white;
    background-color: rgb(0, 141, 193);
    outline: 0.1rem solid rgb(0, 141, 193);;
    z-index: 10;
    text-decoration: none;
}